@using Grpc.Net.Client
@using Google.Protobuf.WellKnownTypes
@using FYYSF.Protos
@page "/"
@inject GrpcChannel GrpcChannel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<PageTitle>Nieuws</PageTitle>
<HeadContent><meta name="description" content="NIEUWS" /></HeadContent>

@if (Posts.Count > 0)
{
    @*<Virtualize Items="@Posts" Context="post" ItemSize="800" OverscanCount="4">*@
    <Virtualize Items="@Posts" Context="post" OverscanCount="10">

        <div class="card shadow my-4">
            <div class="p-3">
                @Ticks2Date(post.OriginalDate) | @post.Publisher
                <h3>@post.Title</h3>
            </div>

            <img src="@(imgBase + post.ImageUrl)" alt="@post.ImageDesc" class="img-fluid" />

            <div class="text-center">
                <small>@post.ImageDesc</small>
            </div>

            <div class="p-3">
                <h5>@post.Intro</h5>
                <p>@post.Content</p>
            </div>

            <div class="px-3 pb-2">
                <i>Lees het volledige artikel op <a href="@post.PublisherUrl" target="_blank"><b>@post.Publisher</b></a></i> <b>>>></b>
            </div>
        </div>
    </Virtualize>
}

@code {
    List<Post> Posts { get; set; } = new();
    string imgBase = string.Empty;

    private string Ticks2Date(long ticks)
    {
        DateTime publisherPostDate = new DateTime(ticks);
        return publisherPostDate.ToString("dd-MM-yyyy");
    }

    protected override async Task OnInitializedAsync()
    {
        imgBase = "https://" + Configuration["Settings:BackEndUrl"] + "/images/";

        var token = new System.Threading.CancellationToken();
        var client = new News.NewsClient(GrpcChannel);
        using var call = client.GetPostStream(new Empty());
        while (await call.ResponseStream.MoveNext(token))
        {
            // add this post to our list
            Posts.Add(call.ResponseStream.Current);

            // reached the first 5 yet?
            if (Posts.Count == 5)
            {
                await InvokeAsync(StateHasChanged);
                await Task.Delay(1);
            }
            // else is the count evenly divisible by 50?
            else if (Posts.Count % 50 == 0)
            {
                await InvokeAsync(StateHasChanged);
                await Task.Delay(1);
            }
        };
    }
}
